<ng-container *ngIf="location$ | async as location; else spinner">
  <div>
    <ng-container *ngIf="location.error; else issue">
      <p>To report an issue please login or create an account.</p>
      <a href="{{ location.error }}" class="btn btn-primary">Login/Sign up</a>
    </ng-container>

    <ng-template #issue>
      <address><strong>{{ location.address }}</strong></address>
      <small class="text-muted">lat: {{ location.coordinate[1].toFixed(6) }},
        lng: {{ location.coordinate[0].toFixed(6) }}</small>
    </ng-template>

  </div>
</ng-container>

<ng-template #spinner>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>










