<webmap #map class="webmap">
  <layers class="ol-overlaycontainer">
    <tile-layer osm></tile-layer>
    <vector-layer [layerStyle]="'geolocation'" [currentPosition]="map" [currentPositionZoom]="10" geolocation></vector-layer>
    <vector-layer [hoverInteraction]="issueStyle" [maxResolution]="1400" [layerStyle]="'issue'" issue-trac-source></vector-layer>
  </layers>
  <overlays class="ol-overlay-component">
    <popup-overlay id="popup" positioning="center-center"></popup-overlay>
  </overlays>
  <controls>
    <!-- account-control></account-control -->
    <geocode></geocode>
  </controls>
</webmap>

